<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://thumbs.dreamstime.com/z/to-do-list-clipboard-5762117.jpg" alt="" width="80" height="40" class="d-inline-block align-text-top">
      TODO
    </a>
  </div>
</nav>

<div class="container">
      <div class="mt-2 row">
        
        <div class="col">
          <button type="button" class="btn btn-dark" routerLink="/home" routerLinkActive="router-link-active">Home</button>
          
          
          
          
        </div>
       
      </div>
    </div>
    <router-outlet></router-outlet>

